.button {
  position: relative;
  height: 40px;
  border: none;
}

.with-icon {
  padding-left: 45px;

  .icon {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 6px;
    top: 4px;
  }
}

.button-create {
  position: absolute;
  top: $content-padding;
  right: $content-padding;
}

.icon-only {
  border: none;
  padding: 0;
  height: 30px;
  width: 30px;
  margin: 5px;

  .icon {
    width: 30px;
    height: 30px;
  }
}