$link-color: #1eaedb;

$light-grey: #e1e1e1;
$dark-grey: #333;

$primary-color: #33c3f0;
$secondary-color: lighten($dark-grey, 13.5%);

$border-color: #bbb;
$font-color: #323235;

$body-background-color: rgba(240, 240, 240, 0.92);

$font-size: 16px;

$content-padding: 24px;